<section class="footer">
    <div class="footer-box">
        <h3>Información Legal</h3>
        <a href="/privacidad">Política de Privacidad</a>
        <a href="/terminos">Términos y Condiciones</a>
        <a href="/cookies">Política de Cookies</a>
        <a href="/legal">Aviso Legal</a>
    </div>

    <div class="footer-box">
        <h3>Atención al Cliente</h3>
        <a href="/faq">Preguntas Frecuentes</a>
        <a href="/envios">Envíos y Devoluciones</a>
        <a href="/garantia">Garantía</a>
        <a href="/contacto">Contacto</a>
    </div>

    <div class="footer-box">
        <h3>Social</h3>
        <div class="social">
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-tiktok'></i></a>
        </div>
    </div>
</section>

<div class="copyright">
    <div class="end-text">
        <p>CopyRight 2024 By ZABAL x SAN</p>
    </div>

    <div class="end-img">
        <img src="assets/images/p.png" alt="">
    </div>
</div>

