<header class="navbar">
    <a href="/" class="logo">
        <img src="/assets/images/logo.png" alt="Logo Zabal">
    </a>

    <ul class="navmenu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/catalogo">Catalogo</a></li>
        <li><a href="/servicio-al-cliente">Atención al cliente</a></li>
    </ul>

    <div class="nav-icon">
        <div class="search-wrapper">
            <div class="search" id="searchLabel">
                <input type="text" id="searchInput" placeholder="Buscar..."/>
            </div>
        </div>
        <div class="nav__user">
            <i class='bx bx-user'></i>
        </div>
        <a href="#" id="cartIcon"><i class='bx bx-cart'></i></a>
        <div class="bx bx-menu" id="menu-icon">
            <span></span>
        </div>
    </div>
</header>

<div class="search-overlay"></div>

<!-- Enlace al archivo CSS -->
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/search.css">

<script src="/assets/js/app.js"></script>
<!-- Enlace al archivo JavaScript del carrito -->
<script src="/assets/js/cart.js"></script>
<script src="/assets/js/navbar.controller.js"></script>
</body>
</html>